<div class="w320 margin-auto">
  <h3>Sign Up</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="input-field rel">
      <%= f.text_field :city %>
      <%= f.label :city, class: (resource.city ? 'active' : '') %>
      <span class="abs bot-0 fs13 red-text"><%= resource.errors[:city][0] %></span>
    </div>

    <div class="input-field rel">
      <%= f.text_field :country %>
      <%= f.label :country, class: (resource.country ? 'active' : '') %>
      <span class="abs bot-0 fs13 red-text"><%= resource.errors[:country][0] %></span>
    </div>

    <div class="input-field">
      <%= f.email_field :email %>
      <%= f.label :email %>
      <span class="abs bot-0 fs13 red-text"><%= resource.errors[:email][0] %></span>
    </div>

    <div class="input-field">
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password %>
      <span class="abs bot-0 fs13 red-text"><%= resource.errors[:password][0] %></span>
    </div>

    <div class="input-field">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.label :password_confirmation %>
      <span class="abs bot-0 fs13 red-text"><%= resource.errors[:password_confirmation][0] %></span>
    </div>

    <div class="flex jc-sb ai-c">
      <div>
        <%= f.check_box :email_list, checked: true %>
        <%= f.label :email_list,
            'Add me to the email list',
            class: 'pl24 tooltipped',
            data: { position: 'top', delay: 0, tooltip: 'Sign up to hear about updates to this app or any future projects we release. No spam, we promise!' } %>
      </div>

      <div>
        <%= f.submit "Sign up", class: 'btn' %>
      </div>
    </div>

    <div class="flex jc-sb ai-c py8">
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
      <%= link_to "Or, log in", new_session_path(resource_name), class: 'py8 w80 ta-right' %>
    </div>
  <% end %>
</div>
